<!-- 
   <div class="container">
    <div class="row">
     <h3>List account</h3>

    </div>
</div> -->

<div class="row justify-content-center">
     <div class="container">
         <div class="row">   
             <div class ="col text-right">      
                <button type="button" class="btn btn-primary" (click)="addAccount()">Add Account</button>               
              </div>  
         </div>
       </div>
       
      <br> 

       <div class="col-9">
       <table class="table" >
           <thead>
             <tr>
               <th scope="col">Check</th>
               <th scope="col">No</th>
               <th scope="col">Name</th>
               <th scope="col">Email</th>
             </tr>
           </thead>
           <tbody>
              <tr *ngFor = 'let account of accounts; let i = index'> 
             <td>
                 <div class="form-check">
                     <input class="form-check-input position-static" type="checkbox" id="{{account.idAccount}}" name="{{account.idAccount}}" [(ngModel)]="account.isChecked" (change)="changeSelection()">
                   </div>
               </td>
             <td>{{i+1}}</td>
             <td>{{account.lastName + " " + account.firstName}}</td>
               <td>{{account.email}}</td>
             </tr> 
           </tbody>
         </table>
         
       </div>
     </div>
       
