<h2 mat-dialog-title>Choose account to add in team</h2>

<mat-dialog-content>
  <div class="col-9">
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Check</th>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor = 'let account of accounts; let i = index'> 
          <!-- <th scope="row" disable>{{team.idTeam}}</th>  -->
          <td>
              <div class="form-check">
                  <input class="form-check-input position-static" type="checkbox" id="{{account.idAccount}}" name="{{account.idAccount}}" [(ngModel)]="account.isChecked" (change)="changeSelection()">
                </div>
              <!-- <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="{{account.idAccount}}" checked>
              </div> -->
            </td>
          <td>{{i+1}}</td>
          <td>{{account.lastName + " " + account.firstName}}</td>
            <td>{{account.email}}</td>
          </tr> 
        </tbody>
      </table>
      </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="addAccount()">Add account</button>
</mat-dialog-actions>

       
