
   <div class="container">
       <div class="row">
        <h2>Team Detail</h2>

       </div>
   </div>

   <div class="row justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Member List</h3>
                </div>    
                <div class ="col text-right">      
              <a routerLink="add"><button class="btn btn-success mr-3">Add account</button></a>            
                <a><button class="btn btn-secondary" (click)="removeAccounts()">Remove account</button></a>
              
                 </div>  
            </div>
          </div>
          
          
          <div class="col-9">
          <table class="table" >
              <thead>
                <tr>
                  <th scope="col">Check</th>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor = 'let account of accounts; let i = index'> 
                <!-- <th scope="row" disable>{{team.idTeam}}</th>  -->
                <td>
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="{{account.idAccount}}" name="{{account.idAccount}}" [(ngModel)]="account.isChecked" (change)="changeSelection()">
                      </div>
                    <!-- <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{account.idAccount}}" checked>
                    </div> -->
                  </td>
                <td>{{i+1}}</td>
                <td>{{account.lastName + " " + account.firstName}}</td>
                  <td>{{account.email}}</td>
                  <!-- <td>
                      <ul appBorderColor class="list-inline m-0">
                        <li class="list-inline-item">
                          <a [routerLink]="['detail', team.idTeam]"><button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-table"></i></button></a>
                      </li>
                      <li class="list-inline-item">
                        <a [routerLink]="['update', team.idTeam]"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button></a>
                      </li>
                      <li class="list-inline-item">
                          <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteTeam(team.idTeam)"><i class="fa fa-trash"></i></button>
                      </li>
                      </ul> -->
                      <!-- <a [routerLink]="['/detail', product.id]" data-tip="Quick View"><i class="fa fa-search"></i></a>
                      <a routerLink="addproduct" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a> -->
                  <!-- </td>  -->
                </tr> 
              </tbody>
            </table>
            
          </div>
        </div>
          
